<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <style type="text/css">
            @font-face { font-family:SPPD font;src:url({{ asset('fonts/SouthParkExt-Regular.ttf') }}) format('truetype');}
        </style>
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('main.css') }}" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    {% endblock %}
</head>
<body class="bg-dark text-light">

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            {% set currentPath = app.request.attributes.get('_route') %}

            <ul class="navbar-nav mr-auto">

                <li class="nav-item {% if currentPath == 'index' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('index') }}">Index</a>
                </li>

            </ul>


        </div>
    </nav>
</div>

<div class="container">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
